#gallery{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
img {
  border:solid;
  border-color: transparent;
}
#gallery > div{
  margin: 3px;
  border:solid;
  border-color:red;
}
.plitka2 > div{
  color:green;
}

body {
  background-color: lightblue;
}
button{
  color:green;
  background-color: pink;
  box-shadow: 2px 2px 4px 4px red;
}
p {
  text-align: center;
}

div div > div{
  text-align: center;
}
.plitka2 img{
color:green;
border:solid;
}
